Repository thakurdiwakar/Interview-Skills-Development, pull requests merged in 2023-10, with the labels that each got.

#41 Added code of conduct link
  CONTRIBUTING.md
Labels: documentation, Hactoberfest2023, hactoberfest, hactoberfest-accepted

#43 Doc. Added a new networking interview question
  README.md
  networking.md/3.md
Labels: New Questions Added, Hactoberfest2023, hactoberfest, Networking

#42 Various Phases of SDLC.md
  softwareEngineering.md/Various Phases of SDLC .md
Labels: New Questions Added, Hactoberfest2023, hactoberfest, software-engineering

#48 "==" vs "===" in JS
  README.md
  js.md/== vs ===.md
Labels: New Questions Added, Under Review, Hactoberfest2023, hactoberfest, js

#49 added react most commonly asked question
  README.md
  react.md/Class VS Functional component.md
Labels: New Questions Added, Under Review, Hactoberfest2023, hactoberfest, react

#60 fix- updated serial no. of questions in js
  js.md/3.md
  js.md/4.md
  js.md/5.md
  js.md/6.md
Labels: documentation, Hactoberfest2023, hactoberfest, hactoberfest-accepted

#61 added - two important questions in frontend interviews
  README.md
  js.md/7.md
  react.md/10.md
  react.md/11.md
Labels: Hactoberfest2023, hactoberfest, react

#63 Implementing more efficient C++ programs
  Programs/C++/binarysearch.cpp
  Programs/C++/bubblesort.cpp
  Programs/C++/calculating power using recursion.cpp
  Programs/C++/cpp_programs.md
  Programs/C++/factorial using recursion.cpp
  Programs/C++/fibonacci using recursion.cpp
  Programs/C++/insertionsort.cpp
  Programs/C++/linearsearch.cpp
  Programs/C++/mergesort.cpp
  Programs/C++/quicksort.cpp
  Programs/C++/selectionsort.cpp
Labels: C++, Hactoberfest2023, hactoberfest, programs, recursion

#74 all are commited total 5 file are added
  README.md
  java.md/21.md
  java.md/22.md
  java.md/23.md
  java.md/24.md
  java.md/25.md
Labels: Hactoberfest2023, hactoberfest, hactoberfest-accepted, java

#81 added some software engineer related question and updated Readme file
  README.md
  Software Engineering/ques4.md
  Software Engineering/ques5.md
  Software Engineering/ques6.md
Labels: New Questions Added, Hactoberfest2023, hactoberfest, hactoberfest-accepted, software-engineering
